/* Layout */
.row,
.column {
    height: 16px;
    display: flex;
}
.column {
    width: 16px;
}
.column {
    border: 1px solid #344f6d;
}
.cell {
    width: 15px;
    height: 15px;
}

/* Single border */
.column {
    margin-right: -1px;
}
.row {
    margin-bottom: -1px;
}

/* Skin */
.alive {
    background-color: white;
    transition: background-color 0.10s;
}
.dead {
    background-color: initial;
    transition: background-color 0.11s;
}

/* Start Effect */
.start.alive {
    transition: background-color 0.8s;
    animation: startAnimation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
@keyframes startAnimation {
    0%   { transform: scale(0, 0); }
    100% { transform: scale(1, 1); }
}
