<div class="container">
  <div *ngFor="let rows of grid" class="row">
    <div *ngFor="let cell of rows" class="column">
      <div class="cell" [class.alive]="cell.state" [class.dead]="!cell.state" [class.start]="firstStart"> </div>
    </div>
  </div>
</div>
