<h3 class="title">Conway's Game of Life</h3>
<div class="buttons">
  <button class="button" (click)="onStart()"><i class="fa fa-play" aria-hidden="true"></i> Start</button>
  <button class="button" (click)="onStop()"><i class="fa fa-pause" aria-hidden="true"></i> Pause</button>
  <button class="button" (click)="onNext()"><i class="fa fa-forward" aria-hidden="true"></i> Next</button>
  <app-uploader (fileChange)="onFileUploaded($event)"></app-uploader>
</div>
<div class="counter"><i class="fa fa-clock-o" aria-hidden="true"></i><span>{{ generationCounterObservable | async }}</span></div>
