:host {
    display: flex;
    height: 47px;
    background: white;
    padding: 10px;
   /* min-width: 800px;*/
}

.title {
    color: #344f6d;
    margin: 2px 30px 2px 25px;
}

.counter {
    width: 120px;
    height: 25px;
    margin-left: 25px;
    padding: 2px 8px;
    color: #828282;
    border: 1px solid #828282;
    border-radius: 3px;
    box-shadow: 3px 3px 0px 0px #828282;
}

.counter span {
    margin-left: 20px;
    font-size: 16px;
    float: right;
}