:host {
    position: relative;
}

input[type='file'] {
    visibility: hidden;
    position: absolute;
}

.button {
    left: -8px;
    padding-top: 4px; 
    text-align: center;
    cursor: default;
    display: inline-block;
}
