* {
    font-family: Consolas, monaco, monospace;
    box-sizing: border-box;
}

body, html {
    background: #1c3044;
    width: 100%;
    height: 100%;
    margin: 0;
    overflow: hidden;

    animation: backgroundAnimation;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;

    visibility: hidden;
    background: white;
}

@keyframes backgroundAnimation {
    0%   { background: white; visibility: visible; }
    100% { background: #1c3044; visibility: visible; }
}

.button {
    background: white;
    font-weight: bold;
    width: 80px;
    height: 25px;
    color: #344f6d;
    border: 1px solid #344f6d;
    border-radius: 3px;
    margin-left: 2px;
    font-size: 13.3333px;
    outline: none;
    box-shadow: 3px 3px 0px 0px #344f6d;

    transition: all 0.3s;
}

.button:hover {
    color: #a56b1f;
    border-color: #a56b1f;
    box-shadow: 2px 2px 0px 0px #a56b1f;
    
    transition: all 0.2s;
}
